# Use glob syntax
syntax: glob

# Ignore logs
Log/

# Ignore local settings files
*.tcLS
*.tcCfgExtender

# Ignore backup files
*.bak

# Ignore IndelPlanHead\Log
IndelPlanHead/Log/

# Ignore Script\Visualizer
IndelPlanHead/Script/Visualizer/

# Ignore KeywordTests\Visualizer
IndelPlanHead/KeywordTests/Visualizer/
